trunk/net.hyperadapt.pxweave.test/testData/bookList.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <xs:element name="bookList">
        <xs:complexType>
            <xs:sequence>
                <xs:element maxOccurs="unbounded" ref="book"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="book">
        <xs:complexType>
            <xs:attribute name="inStock" use="required" type="xs:NCName"/>
            <xs:attribute name="price" use="required" type="xs:decimal"/>
        </xs:complexType>
    </xs:element>
</xs:schema>
